<section>
  <img src='<%= @hash['poster'] %>'>
</section>

<section>
  <ul>
    <li><a target='_blank' href='https://www.google.com/search?q=<%= @hash['Title'] %>'><%= @hash['Title'] %></a></li>
    <li><%= @hash['year'] %></li>
    <li><%= @hash['Rated'] %></li>
    <li><%= @hash['Released'] %></li>
    <li><%= @hash['Runtime'] %></li>
    <li><%= @hash['Genre'] %></li>
    <li><%= @hash['Director'] %></li>
    <li><%= @hash['Writer'] %></li>
    <li><%= @hash['Actors'] %></li>
    <li><%= @hash['Plot'] %></li>
  </ul>
</section>