<section>
  <img src='<%= @movie.poster %>'>
</section>

<section>
  <ul>
    <li><%= @movie.title %></li>
    <li><%= @movie.director %></li>
    <li><%= @movie.plot %></li>
    <li><%= @movie.year %></li>
    <li><%= @movie.poster %></li>
  </ul>
  <%= image_tag @movie.poster %>
  <%= image_tag @movie.poster %>



</section>

